__pycache__
.cache
.env
.coverage
.coverage.*
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.Python
.ruff_cache
.tox
.vscode
*.cover
*.log
*.pyc
*.pyd
*.pyo
coverage.xml
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
staticfiles
venv
